body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.tes {
    height: 10px;
}
.carousel-item {
    margin-top: auto;
    margin-bottom: 1px;
    height: 60vh;
    min-width: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-backgound-size:cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}

h3 {
    height: auto;
}

p {
    height: auto;
}

div .img {
    max-width: 40px;
    size: 40px 40px;
    margin-right: 30px;
}

.rounded {
    border-radius: 100px;
    border: 2px solid rgb(0, 0, 0);
  
}
