.carousel-item {
  height: auto;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.borderwhite {
  border-width: 5px;
  border-color: white;
}  

/* Back to the Top button */

.green {
  color: rgb(112, 215, 94);
}

#features {
  text-align: center;
}

.green:hover {
  color: rgb(65, 179, 45);    
}

  /* Every TAG into Html files that uses this class, will
  get a gray color */

.textgray {
  color: gray;
}

  /* Every TAG into Html files that uses this class, will
  get a black color */

.textblack {
  color: black;
}

  /* Every TAG into Html files that uses this class, will
  get a gray background color */

.backgray {
  background-color: rgb(248, 248, 248);
}

section div {
  text-align: center;
}

.center {
  text-align: center;
}

/* testimonials */


#testimonials {
  padding: 1% 15%;
  text-align: center;
  color: white;
}

.testemonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}
